
div[src$="#side"]{
position: relative; float: left;
width: 30%; margin: 10px;
margin-top: 5px;
margin-bottom: 0px;
clip-path: polygon (20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}